<!DOCTYPE html>
<html>

<head>
    <!-- head.ejs -->
    <% include ../partials/head %>
</head>

<body>
    <header>
        <!-- header.ejs -->
        <% include ../partials/header %>
    </header>
    <!-- jumbotron -->
    <div class="intro-main">
        <!-- main text and button -->
        <div class="intro-text-but">
            <h1>UCBE Forum</h1>
            <p>Message</p>
            <a href="/newpost">Start A Post</a>
        </div>
    </div>
    <!-- posts section -->
    <main>
        <div class="main-posts">
            <% for (var i in posts) { %>
                <div class="posts" onclick="location.href='/post/<%= posts[i].id %>'">
                    <div class="posts-text-all">
                        <div class="post-title-user">
                            <p>
                                <%= posts[i].title %>
                            </p>
                            <p>
                                <a href="/userpage/<%= posts[i].username %>">- <%= posts[i].username %>
                                </a>
                            </p>
                            <% if(posts[i].avatar == 1) { %>
                                <div class="mini-avatar red">
                                    <img src="../assets/images/smile.png">
                                </div>
                            <% } else if (posts[i].avatar == 2) { %>
                                <div class="mini-avatar blue">
                                    <img src="../assets/images/o.png">
                                </div>
                            <% } else if (posts[i].avatar == 3) { %>
                                <div class="mini-avatar green">
                                    <img src="../assets/images/smirk.png">
                                </div>
                            <% } %>
                        </div>
                        <div class="post-cat-comm">
                            <p>
                                Topic:
                                <%= posts[i].category %>
                            </p>
                            <% if (posts[i].total_comm > 1) { %>
                                <p>
                                    <%= posts[i].total_comm %> Comments
                                </p>
                            <% } else {%>
                                <p>
                                    <%= posts[i].total_comm %> Comment
                                </p>
                            <% } %>
                        </div>
                    </div>
                    <div class="posts-likes">
                    <% if (posts[i].num_likes) { %>
                        <p>
                            <%= posts[i].num_likes %>
                        </p>
                    <% } else { %>
                        <p> 0 </p>
                    <% } %>
                        <div class="star"></div>
                    </div>
                </div>
                <% } %>
        </div>
    </main>
</body>

</html>