<!DOCTYPE html>
<html>

<head>
    <!-- head.ejs -->
    <% include ../partials/head %>
</head>

<body>
    <header>
    </header>
    <!-- jumbotron -->
    <div class="intro-main">
        <!-- main text and button -->
        <div class="intro-text-but">
            <h1>UCBE Forum</h1>
            <p>Message</p>
            <a href="/newpost">Start A Post</a>
        </div>
    </div>
    <!-- posts section -->
    <main>
        <div class="main-posts">
            <% for (var i in posts) { %>
                <div class="posts" onclick="location.href='/post/<%= posts[i].id %>'">
                    <div class="posts-text">
                        <div class="text-rowone">
                            <p>
                                <%= posts[i].title %>
                            </p>
                            <p>
                                <a href="/userpage/<%= posts[i].username %>">- <%= posts[i].username %>
                            </a>
                            </p>
                        </div>
                        <div class="text-rowtwo">
                            <p>
                                Topic:
                                <%= posts[i].category %>
                            </p>
                            <% if (comments[i].num_comments > 1) { %>
                                <p>
                                    <%= comments[i].num_comments %> Comments
                                </p>
                                <% } else {%>
                                    <p>
                                        <%= comments[i].num_comments %> Comment
                                    </p>
                                    <% } %>
                        </div>
                    </div>
                    <div class="posts-likes">
                        <p>
                            <%= posts[i].num_likes %>
                        </p>
                        <div class="star"></div>
                    </div>
                </div>
            <% } %>
        </div>
    </main>
</body>

</html>