<!DOCTYPE html>
<html>

<head>
    <!-- head.ejs -->
    <% include ../partials/head %>
</head>

<body>
    <header>
        <!-- header.ejs -->
        <% include ../partials/header %>
    </header>
    <!-- message to login -->
    <div class="login-err-msg">
        <%= loginErr.errLogin %>
    </div>
    <!-- post -->
    <div class="posts">
        <!-- post text -->
        <div class="posts-text-all">
            <div class="post-title-user">
                <p>
                    <%= posts[0].title %>
                </p>
                <a href="/userpage/<%= posts[0].username %>">- <%= posts[0].username %>
                </a>
            </div>
            <div class="post-cat-comm">
                <p>
                    Topic:
                    <%= posts[0].category %>
                </p>
                <p>
                    <%= posts[0].tim %>
                </p>
            </div>
            <div class="post-post">
                <p>
                    <%= posts[0].post %>
                </p>
            </div>
        </div>
        <div class="posts-likes">
            <div class="post-lik-disl">
                <!-- like/dislike form button for posts -->
                <form method="POST" action="/likes">
                    <input type="hidden" name="post_id" value="<%= posts[0].id %>">
                    <input type="hidden" name="type_id" value="<%= posts[0].id %>">
                    <input type="hidden" name="type" value="post">
                    <!-- if user is logged in -->
                    <% if(user) { %>
                        <button class="uparrow" name="like" value="1"></button>
                        <button class="downarrow" name="like" value="0"></button>
                        <!-- if user is not logged in -->
                        <% } else { %>
                            <button class="uparrow" type="submit" disabled></button>
                            <button class="downarrow" type="submit" disabled></button>
                            <% } %>
                </form>
            </div>
            <!-- shows number of likes -->
            <% if (posts[0].total_likes) { %>
                <p>
                    <%= posts[0].total_likes %>
                </p>
                <% } else { %>
                    <p> 0 </p>
                    <% } %>
                        <!-- star -->
                        <div class="star"></div>
        </div>
    </div>
    <!-- create comment section -->
    <div class="create-com-sec">
        <form method="POST" action="/createcomment">
            <input type="hidden" name="post_id" value="<%= posts[0].id %>">
            <textarea rows="10" name="comment" placeholder="Respond to this post..."></textarea>
            <!-- if logged in shows submit button -->
            <% if(user) { %>
                <div class="login-err-msg">
                    <%= loginErr.commErr %>
                </div>
                <button type="submit">Submit Comment</button>
                <!-- if not logged in shows sign up/login button -->
                <% } else { %>
                    <div class="signup-login">
                        <p>Like to leave a comment? Log In or Sign Up</p>
                        <a href="/login">Log In</a>
                        <a href="/signup">Sign Up</a>
                    </div>
                    <% } %>
        </form>
    </div>
    <!-- comment sec for post -->
    <div class="comment-sec">
        <% for (var i in comments) { %>
            <% if (comments[0].comment != null) { %>
                <div class="comments">
                    <div class="comments-text">
                        <p>
                            <%= comments[i].tim %>
                        </p>
                        <p>
                            <%= comments[i].comment %>
                        </p>
                        <a href="/userpage/<%= comments[i].username %>">
                        - <%= comments[i].username %>
                    </a>
                    </div>
                    <div class="comments-like">
                        <div class="comm-like-disl">
                            <!-- like and dislike button for comments -->
                            <form method="POST" action="/likes">
                                <input type="hidden" name="post_id" value="<%= posts[0].id %>">
                                <input type="hidden" name="type_id" value="<%= comments[i].id %>">
                                <input type="hidden" name="type" value="comment">
                                <!-- if user is logged in -->
                                <% if(user) { %>
                                    <button class="uparrow" name="like" value="1"></button>
                                    <button class="downarrow" name="like" value="0"></button>
                                    <!-- if user is not logged in -->
                                    <% } else { %>
                                        <button class="uparrow" type="submit" disabled></button>
                                        <button class="downarrow" type="submit" disabled></button>
                                        <% } %>
                            </form>
                        </div>
                        <!-- number of likes -->
                        <% if (comments[i].total_likes) { %>
                            <p>
                                <%= comments[i].total_likes %>
                            </p>
                            <% } else { %>
                                <p> 0 </p>
                                <% } %>
                                <!-- star -->
                                    <div class="star"></div>
                    </div>
                </div>
                <% } %>
                    <% } %>
    </div>
</body>

</html>