<!DOCTYPE html>
<html>

<head>
    <!-- head.ejs -->
    <% include ../partials/head %>
</head>

<body>

	<header>
	    <!-- header.ejs -->
	    <% include ../partials/header %>
	</header>
	
<div class="user-page">
	<div class="user">
		<div class="user-info">
		<div class="user-info_avatar">
	        <% if(avatar == 1) { %>
	        	<div class="avatar red">
	        		<img src="../assets/images/smile.png">
	    		
	        <% } else if (avatar == 2) { %>
		        <div class="avatar blue">
		        	<img src="../assets/images/o.png">
	    		
	        <% } else if (avatar == 3) { %>
		        <div class="avatar green">
		        	<img src="../assets/images/smirk.png">
	    		
	        <% } %>
	        <% if (user == page_user) { %>
		        <div onclick="avatarChange()">Change Avatar</div>
		        <form method="POST" action="/newavatar">
		        	<div class="avatar-form">
			        	<input type="hidden" name="username" value="<%= username %>">
			        	<label class="radio">
				        	<input type="radio" name="avatar" value="1">
				        	<div class="change-avatar red">
				        		<img src="../assets/images/smile.png">
				    		</div>
		        		</label>
			        	<label class="radio">
				        	<input type="radio" name="avatar" value="2">
				        	<div class="change-avatar blue">
					        	<img src="../assets/images/o.png">
				    		</div>
						</label>
			        	<label class="radio">
				        	<input type="radio" name="avatar" value="3"> 
				        	<div class="change-avatar green">
					        	<img src="../assets/images/smirk.png">
				    		</div>
			    		</label>
			    		<button type="submit">Change</button>
		        	</div>	
		        </form>
	        <% } %>
		    </div>
        </div>
        <div class="user-info_main">
	        <h1><%= page_user %></h1>
	        <h2><%= username %></h2>
        </div>
        </div>
    </div>

    <div class="user-posts">
    	<h2> - <%= page_user %>'s Posts - </h2>
    	<% if(posts[0].post != null) { %>
	        <% for (var i in posts) { %>
	            <div class="posts" onclick="location.href='/post/<%= posts[i].id %>'">
	                <div class="posts-text-all">
	                    <div class="post-title-user">
	                        <p>
	                            <%= posts[i].title %>
	                        </p>
                            <a href="/userpage/<%= username %>">- <%= posts[i].username %>
                            </a>
	                        <% if(avatar == 1) { %>
					        	<div class="mini-avatar red">
					        		<img src="../assets/images/smile.png">
					    		</div>
					        <% } else if (avatar == 2) { %>
						        <div class="mini-avatar blue">
						        	<img src="../assets/images/o.png">
					    		</div>
					        <% } else if (avatar == 3) { %>
						        <div class="mini-avatar green">
						        	<img src="../assets/images/smirk.png">
					    		</div>
					        <% } %>
	                    </div>
	                    <div class="post-cat-comm">
	                        <p>
	                            Topic:
	                            <%= posts[i].category %> 
	                        </p>
	                        <p>
		                    	Comments: <%= posts[i].total_comments %>
		                    </p>
		                    <% if (user == page_user) { %>
		                    	<form class="delete-post" method="POST" action="/delete-post">
		                    		<input type="hidden" name="post_id" value="<%= posts[i].id %>">
		                    		<input type="hidden" name="username" value="<%= posts[i].username %>">
		                    		<p onclick="javascript:this.parentNode.submit()">Delete</p>
		                    	</form>
		                    <% } %>
	                    </div>
	                </div>
	                <div class="posts-likes">
	                    <p>
	                    	<% if (posts[i].total_posts_likes != null) { %>
	                    		<%= posts[i].total_posts_likes %>
                    		<% } else { %>
                    			0
                    		<% } %>
	                    </p>
	                    <div class="star"></div>
	                </div>
	            </div>
	            <% } %>
            <% } else { %>
            	<p style="text-align: center">No Posts</p>
            <% } %>
    </div>
</div>    


<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript">
	function avatarChange() {
    if ($('.user-info_avatar > .avatar > form').css("display") == "none") {
        $('.user-info_avatar > .avatar > form').css("display" , "block");
    } else {
        $('.user-info_avatar > .avatar > form').css("display" , "none");
    }
}
</script>
</body>

</html>