<!DOCTYPE html>
<html>
<head>
	<!-- head.ejs -->
    <% include ../partials/head %>
</head>
<body>

	<div class="user-page">
		<div class="avatar"></div>
		<h1><%= user %></h1>
		<h2><%= username %></h2>
		<h2><%= id %></h2>
		<h2>
			<% if (avatar = 1) { %>
				<p>one</p>
			<% } else { %>
				<p>two</p>
			<% } %>
		</h2>
	</div>

	<div class="user-post">
		<% for (var i in userP) { %>
        <div class="posts" onclick="location.href='/post/<%= userP[i].id %>'">
                <div class="posts-text">
                    <div class="text-rowone">
                        <p>
                            <%= userP[i].title %>
                        </p>
                        <p>
                            <a href="/userpage/<%= userP[i].username %>">- <%= userP[i].username %>
                            </a>
                        </p>
                    </div>
                    <div class="text-rowtwo">
                        <p>
                            Topic:
                            <%= userP[i].category %>
                        </p>
                        <% if (comments[i].num_comments > 1) { %>
                            <p>
                                <%= comments[i].num_comments %> Comments
                            </p>
                        <% } else {%>
                            <p>
                                <%= comments[i].num_comments %> Comment
                            </p>
                        <% } %>
                    </div>
                </div>
                <div class="posts-likes">
                    <p>
                        <%= userP[i].num_likes %>
                    </p>
                    <div class="star"></div>
                </div>
            </div>
    <% } %>
	</div>
</body>
</html>