<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="user-page">
		<div class="user-info_avatar">
	        <% if(avatar == 1) { %>
	        	<div class="avatar red">

	    		</div>
	        <% } else if (avatar == 2) { %>
		        <div class="avatar blue">

	    		</div>
	        <% } else if (avatar == 3) { %>
		        <div class="avatar green">

	    		</div>
	        <% } %>
	        <% if (log_user == user_id) { %>
		        <div onclick="avatarChange()">Change Avatar</div>
		        <form method="POST" action="/newavatar">
		        	<input type="hidden" name="username" value="<%= username %>">
		        	<input type="radio" name="avatar" value="1"> 1 <br>
		        	<input type="radio" name="avatar" value="2"> 2 <br>
		        	<input type="radio" name="avatar" value="3"> 3 <br>
		        	<button type="submit">submit</button>
		        </form>
	        <% } %>
        </div>
        <div class="user-info_main">
	        <h1><%= user %></h1>
	        <h2><%= username %></h2>
	        <!-- <h3>
	        	merit:
	        		
        	</h3> -->
        </div>
    </div>
    <div class="main-posts">
    	<h2><%= user %>'s Posts</h2>
    	<% if(posts[0].post != null) { %>
	        <% for (var i in posts) { %>
	            <div class="posts" onclick="location.href='/post/<%= posts[i].id %>'">
	                <div class="posts-text">
	                    <div class="text-rowone">
	                        <p>
	                            <%= posts[i].title %>
	                        </p>
	                        <p>
	                            <a href="/userpage/<%= username %>">- <%= posts[i].username %>
	                            </a>
	                        </p>
	                    </div>
	                    <div class="text-rowtwo">
	                        <p>
	                            Topic:
	                            <%= posts[i].category %> 
	                        </p>
	                        <p>
		                    	Comments: <%= posts[i].total_comments %>
		                    </p>
		                    <% if (log_user == user_id) { %>
		                    	<form method="POST" action="/delete-post">
		                    		<input type="hidden" name="post_id" value="<%= posts[i].id %>">
		                    		<input type="hidden" name="username" value="<%= posts[i].username %>">
		                    		<button type="submit">delete</button>
		                    	</form>
		                    <% } %>
	                    </div>
	                </div>
	                <div class="posts-likes">
	                    <p>
	                    	<% if (posts[i].total_posts_likes != null) { %>
	                    		<%= posts[i].total_posts_likes %>
                    		<% } else { %>
                    			0
                    		<% } %>
	                    </p>
	                </div>
	            </div>
	            <% } %>
            <% } else { %>
            	<p style="text-align: center">No Posts</p>
            <% } %>

    </div>


<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript">
	function avatarChange() {
    if ($('form').css("display") == "none") {
        $('form').css("display" , "block");
    } else {
        $('form').css("display" , "none");
    }
}
</script>
</body>

</html>