<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="user-page">
		<div class="user-info_avatar">
	        <% if(user[0].avatar == 1) { %>
	        	<div class="avatar red">

	    		</div>
	        <% } else if (user[0].avatar == 2) { %>
		        <div class="avatar blue">

	    		</div>
	        <% } else if (user[0].avatar == 3) { %>
		        <div class="avatar green">

	    		</div>
	        <% } %>
	        <% if (log_user == user_comments[0].id) { %>
		        <div onclick="avatarChange()">Change Avatar</div>
		        <form method="POST" action="/newavatar">
		        	<input type="hidden" name="username" value="<%= user[0].username %>">
		        	<input type="radio" name="avatar" value="1"> 1 <br>
		        	<input type="radio" name="avatar" value="2"> 2 <br>
		        	<input type="radio" name="avatar" value="3"> 3 <br>
		        	<button type="submit">submit</button>
		        </form>
	        <% } %>
        </div>
        <div class="user-info_main">
	        <h1><%= user[0].user %></h1>
	        <h2><%= user[0].username %></h2>
	        <h3>
	        	<% var total = 0; %>
	        	<%for(i in user) { %>
	        		<% if(user[i].total_posts_likes == null) { %>
	        			<% total = total + 0; %>
	        		<% } else { %>
		        		<% total = total + user[i].total_posts_likes; %>
	        		<% } %>
	        	<% } %>
	        	<% total = total + all_comments.total_comment_likes %>
	        	Merit: <%= total %>
	        		
        	</h3>
        </div>
    </div>
    <div class="main-posts">
    	<h2><%= user[0].user %>'s Posts</h2>
    	<% if(user[0].post != null) { %>
	        <% for (var i in user) { %>
	            <div class="posts" onclick="location.href='/post/<%= user[i].id %>'">
	                <div class="posts-text">
	                    <div class="text-rowone">
	                        <p>
	                            <%= user[i].title %>
	                        </p>
	                        <p>
	                            <a href="/userpage/<%= user[i].username %>">- <%= user[i].username %>
	                            </a>
	                        </p>
	                    </div>
	                    <div class="text-rowtwo">
	                        <p>
	                            Topic:
	                            <%= user[i].category %>
	                        </p>
	                        <p>
		                    	<% if(user_comments[i].total_comments > 0) { %>
		                    		comments: <%= user_comments[i].total_comments %>
		                    	<% } else { %>
		                    		comments: 0
		                    	<% } %>
		                    </p>
	                    </div>
	                </div>
	                <div class="posts-likes">
	                    <p>
	                    	<% if(user[i].total_posts_likes > 0) { %>
		                        <%= user[i].total_posts_likes %>
		                    <% } else { %>
		                    	0
		                    <% } %>   
	                    </p>
	                </div>
	            </div>
	            <% } %>
            <% } else { %>
            	<p style="text-align: center">No Posts</p>
            <% } %>

    </div>


<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript">
	function avatarChange() {
    if ($('form').css("display") == "none") {
        $('form').css("display" , "block");
    } else {
        $('form').css("display" , "none");
    }
}
</script>
</body>

</html>